{
    "env": {
        "development": {
            "presets": ["env"]
        },
        "commonjs": {
            "presets": ["env"]
        },
        "es6": {
            "presets": [["env", { "modules": false }]]
        }
    }
}
